@import 'tailwindcss';

@theme {
  --color-primary: hsla(236, 86%, 22%, 1);
  --color-material: hsla(0, 0%, 78%, 1);
  --color-console: hsla(109, 100%, 50%, 1);
}

@layer base {
  .font-bold {
    text-shadow: 1px 0px 0px;
  }

  .font-extrabold {
    text-shadow:
      -1px 0px 0px,
      1px 0px 0px,
      0px -0.5px 0px,
      0px 0.5px 0px;
  }
}

html {
  font-size: 16px;
  line-height: 1.25;
}

body {
  overscroll-behavior: none;
  -webkit-overflow-scrolling: none;
}

/**
  * Very thin scrollbar
  */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: var(--color-material);
}

::-webkit-scrollbar-thumb {
  background: var(--color-console);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-primary);
}
